@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.table__container {
    margin-top: 50px;

}

.ant-table {
    border-radius: 15px;
}

.ant-table-container {
    box-shadow: 1px 1px 5px 1px rgba(214, 214, 214, 0.7450980392) !important;
    border-radius: 15px;
}

.high__value {
    color: $success;
}

.low__value {
    color: $error;
}