@import "./variables.scss";
@import "./mixins.scss";

* {
  font-family: $font_primary;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $bg-100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_secondary !important;
  color: $text-100;
  margin: 0 !important;
}

p {
  color: $text-100;
}

input {
  -webkit-box-shadow: 0 0 0px 1000px $bg-200 inset !important;
}

button {
  cursor: pointer !important;
}

a {
  text-decoration: none !important;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

@media only screen and (max-width: 556px) {
  .ant-table {
    overflow-x: scroll;
  }

  td.ant-table-cell {
    min-width: 150px;
  }

  .offcanvas {
    background: $secondary-100 !important;
    width: 80% !important;
  }
}
